EXPO_PUBLIC_CONVEX_URL=
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyDTYZ77EzutfftKL4CwQuynVvv-dC8Iu0U
EXPO_PUBLIC_GOOGLE_DIRECTIONS_API_KEY=AIzaSyAHgDEN6jaz8Q2TNtJrHv42Gm3U_XwGJUo
EXPO_PUBLIC_GOOGLE_GEOCODING_API_KEY=AIzaSyDNSuctrivLjC80PU3B8FeNLYjZcxRGd7A
EXPO_PUBLIC_GOOGLE_PLACES_API_KEY=AIzaSyCFY8nb8fVoXx5C-sNjYXuAF2ds8TW1osc
EXPO_PUBLIC_GOOGLE_GEOLOCATION_API_KEY=AIzaSyBnrMe3XynG1jjHnTFLGNPBflfdr2V6Lkc
GEMINI_API_KEY=AIzaSyACTZMnW6euqjLdTmzLcQdYKEo_gE0gQU4